p {
  margin: 0;
  padding: 0;
}

h3 {
  font-size: 1.1em;
  font-weight: bold;
  padding-bottom: 6px;
}

h4 {
  color: rgb(163, 163, 163);
  font-size: 0.9em;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.call-detail {
  border: 1px solid rgb(230, 230, 230);
  border-radius: 15px;
  padding: 15px 5px 15px 15px;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.missed-call-icon {
  padding-right: 10px;
  align-self: center;
}

.missed-call-info {
  flex-basis: 68%;
  background-image: linear-gradient(to bottom, rgb(121, 121, 121) 10%, rgba(121, 121, 121, 0) 0%);
  background-position: right;
  background-size: 1px 8px;
  background-repeat: repeat-y;
}

.missed-call-time {
  align-self: center;
  color: rgb(163, 163, 163);
  padding-left: 5px
}